<h1 class="text-3xl font-bold underline">
    The main page
</h1>
<div class="mt-6 sm:w-full sm:max-w-sm">
    <%= link_to 'Profile user', profiles_user_path(@user), class: "flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm leading-6 text-white shadow-sm hover:bg-indigo-500" %>
</div>

